body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.3s ease; /* Add transition for smooth content shift */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Add new styles for dropdowns and sections */
.dropdown {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1em;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    background-color: #f4f4f4;
    overflow: auto;
    max-height: 200px; /* Adjust this value as needed */
}

.dropdown-content .chapter-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content .chapter-item:hover {
    background-color: #8c00ff;
}

.dropdown-content .chapter-item:last-child {
    border-bottom: none;
}


.title-link {
    color: #fff;
    text-decoration: none; 
}

.title-link h1 {
    margin: 0;
    font-size: 1.75em;
    cursor: pointer; 
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.aside-btn {
    margin-top: 30px;
}

.close-btn:focus {
    outline: none; /* Remove default focus outline */
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 10px;
    z-index: 1000;
    overflow-y: auto;
}

.menu.open {
    transform: translateX(0);
}

.menu-open main {
    margin-left: 22%; 
}

.menu-open footer {
    margin-left: 20%; 
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15%;
}

.menu li {
    margin-top: 10px;
}

.menu button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1em;
}

.menu button:hover {
    background-color: #8c00ff;
}

.menu button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

#sidebarContent {
    display: flex;
    flex-direction: column;
}

.chapter-list {
    display: none;
    margin-top: 20px;
}

.chapter-item {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.special-chapter {
    background-color: yellow;
    color: black;
    cursor: not-allowed;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.chapter-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.chapter-content p {
    margin-bottom: 1em;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
}

.nav-btn {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    width: 40%;
    font-size: 1em;
}

.nav-btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}

label {
    margin-right: 10px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

/* Additional styling for the sidebar */
#sidebarContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chapter-list {
    display: none;
    margin-top: 20px;
}

.chapter-item {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.chapter-item:hover {
    background-color: #8c00ff;
}

/* Font */
@font-face {
    font-family: 'NotoSerifSC'; 
    src: url('fonts/NotoSerifSC.ttf') format('truetype');
}

@font-face {
    font-family: 'MaShanZheng'; 
    src: url('fonts/MaShanZheng.ttf') format('truetype');
}

@font-face {
    font-family: 'LongCang'; 
    src: url('fonts/LongCang.ttf') format('truetype');
}

@font-face {
    font-family: 'ZCOOLKuaiLe'; 
    src: url('fonts/ZCOOLKuaiLe.ttf') format('truetype');
}

@font-face {
    font-family: ''; 
    src: url('fonts/') format('truetype');
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        margin-top: 0px;
    }

    .title-link h1 {
        font-size: 1.5em;
    }

    .menu{
        width: 65%;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-open main {
        margin-left: 0px; 
    }

    footer {
        position: static;
        bottom: 0;
        left: 0;
        width: 95%;
        background-color: #333;
        color: #fff;
        text-align: center;
    }

    .nav-btn {
        width: 45%;
    }
}
